.container{
    margin: 250px;
    padding: 20px;
    border: 2px solid;
    width: 20%;
    background-image: url(assests/images/download.jpg);
}
.container label{
    color: red;
}
body{
    
    background-image: url(assests/images/images55555.jpg);
}
